.contentItem {
  height: 70px;
  width: 420px;
  background-color: rgb(238, 238, 238);
  margin: 8px;
  text-align: center;
  border-radius: 10px;
  position: relative;
  background-image: url('../../public/sala_poblenou.png');
  background-size: cover;
  background-position-y: 45%;
  color: white;
  font-family: daniel-regular;
  font-size: 20px;
  transition: box-shadow 0.2s ease-in-out;
}

.contentItem:hover {
  box-shadow: 0 10px 20px rgb(218, 218, 218);
}
