.contentItem {
  height: 70px;
  width: 420px;
  background-color: aqua;
  border: solid rgb(255, 229, 144) 1px;
  margin: 8px;
  text-align: center;
}

.contentItem:hover {
  border: solid pink 1px;
}
