@font-face {
  font-family: daniel-regular;
  src: url(../../fonts/Daniel-Regular.otf);
}

@font-face {
  font-family: simplon-mono-medium;
  src: url(../../fonts/Simplon_Mono_Medium_Regular.ttf);
}

:root {
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  font-family: simplon-mono-medium;
}

a {
  color: inherit;
  text-decoration: none;
}
